<div class="container-about">

  <!-- Nav -->
  <div class="nav-right">
    <div class="nav-item nav-about-in z-depth-3">
      <a href="/">About</a>
    </div>
  </div>

  <!-- Main -->
  <div class="main">
    <h2>All about Cashto</h2>
  </div>

  

</div>