<div class="container-contact">

  <!-- Nav -->
  <div class="nav-top">
    <div class="nav-item nav-contact-in z-depth-3">
      <a href="/">Contact</a>
    </div>
  </div>
  
  <!-- Main -->
  <div class="main">
    <h2>Hit me up</h2>
  </div>


</div>