<div class="container-home">

  <div class="main">
    <h2>Main</h2>
  </div>

  <div class="nav-item nav-left nav-about-out">
    <a href="/about">About</a>
  </div>
  
  <div class="nav-item nav-bottom nav-contact-out">
    <a href="/contact">Contact</a>
  </div>
  
  <div class="nav-item nav-right nav-portfolio-out">
    <a href="/portfolio">Portfolio</a>
  </div>
  
  <div class="nav-bottom-left"></div>
  <div class="nav-bottom-right"></div>

</div>