<div class="container-portfolio">

  <!-- Nav -->
  <div class="nav-left">
    <div class="nav-item nav-portfolio-in z-depth-3">
      <a href="/">Portfolio</a>
    </div>
  </div>
  
  <!-- Main -->
  <div class="main">
    <h2>Page of Amazement</h2>
  </div>

</div>