* {
  font-family: 'Open Sans', sans-serif;
  /*background-color: #ccc;*/
}

.container-home {
  width: 100%;
  display: grid;
  grid-template-columns: 62px auto 62px;
  grid-template-rows: auto 62px;
  grid-template-areas: 
    "nav-left        main       nav-right"
    "nav-bottom-left nav-bottom nav-bottom-right";
}

.container-about {
  width: 100%;
  display: grid;
  grid-template-columns: auto 62px;
  grid-template-areas: 
    "main nav-right"
}

.container-contact {
  width: 100%;
  display: grid;
  grid-template-rows: 62px auto;
  grid-template-areas: 
    "nav-top"
    "main";
}

.container-portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: 62px auto;
  grid-template-areas: 
    "nav-left main";
}

.main {
  grid-area: main;
  height: 600px;
}

.nav-left, .nav-bottom, .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  width: 240px;
  height:240px;
  padding: 15px;
}

.nav-item > a {
  text-align: center;
  font-size: 24px;
  /*Allows a tag to completely fill up .nav-item*/
  flex-grow: 1;
  color: #fff;
}

.nav-left {
  grid-area: nav-left;
  background-color: #fff;
}

.nav-bottom {
  grid-area: nav-bottom;
  background-color: #fff;
}

.nav-right {
  grid-area: nav-right;
  background-color: #fff;
}

.nav-top {
  grid-area: nav-top;
  background-color: #fff;
}

.nav-bottom-left {
  grid-area: nav-bottom-left;
  /*background-color: #fff;*/
}

.nav-bottom-right {
  grid-area: nav-bottom-right;
  /*background-color: #fff;*/
}

.nav-about-out, .nav-about-in {
  writing-mode: vertical-rl;
}

.nav-about-out, .nav-contact-out, .nav-portfolio-out {
  transition: all 0.5s ease;
}

.nav-about-out {
  background-color: blue;
  position: relative;
  right: 50px;
}

.nav-contact-out {
  background-color: red;
  position: relative;
  top: 50px;
}

.nav-portfolio-out {
  background-color: green;
  position: relative;
  left: 50px;
}

.nav-about-in {
  background-color: blue;
}

.nav-contact-in {
  background-color: red;
}

.nav-portfolio-in {
  background-color: green;
}

.nav-portfolio-out, .nav-portfolio-in {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}





