* {
  font-family: 'Open Sans', sans-serif;
  /*background-color: #444;*/
}

/*Containers*/
.container-home {
  width: 100%;
  display: grid;
  grid-template-columns: 62px auto 62px;
  grid-template-rows: auto 62px;
  grid-template-areas: 
    "nav-left main       nav-right"
    ".        nav-bottom .        ";
}

.container-about {
  width: 100%;
  display: grid;
  grid-template-columns: auto 62px;
  grid-template-areas: 
    "main nav-right"
}

.container-contact {
  width: 100%;
  display: grid;
  grid-template-rows: 62px auto;
  grid-template-areas: 
    "nav-top"
    "main";
}

.container-portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: 62px auto;
  grid-template-areas: 
    "nav-left main";
}

/*Navigation*/
.nav-left {
  grid-area: nav-left;
}

.nav-bottom {
  grid-area: nav-bottom;
}

.nav-right {
  grid-area: nav-right;
}

.nav-top {
  grid-area: nav-top;
}

.nav-left, .nav-bottom, .nav-right, .nav-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  width: 240px;
  height:240px;
  padding: 15px;
}

.nav-item > a {
  text-align: center;
  font-size: 24px;
  /*Allows a tag to completely fill up .nav-item*/
  flex-grow: 1;
  color: #fff;
}

.nav-about-out, .nav-contact-out, .nav-portfolio-out {
  position: relative;
  transition: all 0.5s ease;
}

.nav-about-out, .nav-about-in {
  writing-mode: vertical-rl;
  background-color: blue;
}

.nav-about-out {
  right: 50px;
}


.nav-contact-out, .nav-contact-in {
  background-color: red;
}


.nav-contact-out {
  background-color: red;
  top: 50px;
}

.nav-contact-in {

}

.nav-portfolio-out, .nav-portfolio-in {
  background-color: green;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.nav-portfolio-out {
  left: 50px;
}

.nav-portfolio-in {

}





/*Main Body*/
.main {
  grid-area: main;
  height: 600px;
}
